{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <h1>About</h1>
            </div>
        </section>

    {{/replace}}
{{/extend}}
