{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <div class="above">

                </div>

                <div class="below">

                </div>
            </div>
        </section>

    {{/replace}}
{{/extend}}
