{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <h1>zac</h1>
                <p>:)</p>
            </div>
        </section>

    {{/replace}}
{{/extend}}
