{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <div class="above">
                    <h1>zac</h1>
                </div>
                <!-- <div class="middle-image">
                    <img src="/img/night-sky-rs01.jpg" alt="Smiley face" height="42" width="42">
                </div> -->
                <div class="below">

                </div>
            </div>
        </section>

    {{/replace}}
{{/extend}}
