{{#extend "layout"}}
  {{#replace "main"}}

    <section id="landing">
      <div class="inner">
        <h1>Contact</h1>
        <p>this website</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
